@font-face {
    font-family: Vazir;
    src: url('../public/font/Vazir.woff2') format('woff2');
    font-weight: normal;
}
:root {
    --base-color: #fbf9f9;;
    --font-color: #000000;
    --nave-hover-color : #3b94ed7e;

}
  


/* main styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Vazir;
    font-size: 18;
    transition: direction 0.5s ease-in-out;

}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--font-color); 
  
}

input::placeholder {
    font-family: Vazir;
}

svg {
    width: 25px;
    opacity: .5;
}




/* sub-pages */
.sub-pages {
    box-shadow: 0 0 0;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* header */
header {
    display: flex;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    justify-content: space-between;
    padding: 10px 10px;
    background-color: var(--base-color); 
    z-index: 10;
    height: 45px;
}

header svg {
    width: 25px;
    opacity: .5;
}

.header__right-side {
    display: flex;
    gap: 5px;
    align-items: center;
}
.header__right-side--user_name{
    bottom: 7px;
    position: relative;

}
.header__left-side {
    display: flex;
    gap: 5px;
    align-items: center;
}




/* body styles */
.main-content {
    width: 100%;
    display: flex;
    height: calc(100vh - 45px);
    overflow: auto

}


.main-content .sidebar {
    background-color: var(--base-color); 
    width: 380px;
    padding: 10px 20px;
    height: 90vh;
    border-radius: 25px;
    box-shadow: rgba(100, 100, 111, 0.336) 0px 7px 29px 0px;
    transition: all 0.3s;
    position: sticky;
    top: 0;
    z-index: 100 !important;
    

}


/* content */
.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.content>.carts {
    border: 1px solid #ccc;
    margin: 10px;
    width: 23%;
    min-width: 280px;
    border-radius: 10px;
    direction: rtl;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
    overflow: hidden;
    transition: all 0.3s ease-in-out;

}

.carts .video-img {
    transition: transform 0.3s ease-in-out;

}

.carts:hover {
    border-radius: 0;

}

.carts:hover .video-img {
    transform: scale(1.02);
}

.content img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;

}

.content .cart-titleImg {
    width: 50px;
    border-radius: 50%;

}

.cart-title {
    display: flex;
    padding: 5px 10px;
    gap: 5px;
    align-items: center;
}

.long-text {
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cart-extraInfo {
    padding: 10px
}

.cart-extraInfo-company {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 5px 0;
}




/* nav styles */
.search {
    margin-top: 20px;
    border-radius: 45px;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.search-border {
    display: flex;
    align-items: center;
    border: 3px solid rgba(47, 47, 47, 0.593);
    padding: 5px;
    border-radius: 45px;
    background-color: white;
    transition: all 0.3s ease;

}

.search-border:hover {
    border: 3px solid rgb(11, 73, 197);
}

.searchTerm {
    width: 100%;
    cursor: pointer;
    direction: rtl;
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 45px;

}

.searchButton {
    border: none;
    background-color: white;
    margin: 7px 5px 0 10px;
    cursor: pointer;


}

nav {
    max-height: 80%;
    margin: 10% 0;
    direction: rtl;
    overflow: auto;
}

nav::-webkit-scrollbar {
    display: none;
}

nav {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.first-nav {
    top: 0;
    display: block;
    position: sticky;
    background-color: #fcfbfb;
    margin-right: 5px;
    width: 100%;
    opacity: 1 !important;
    z-index: 100;
}

.category {
    margin: 25px 0;
}

.category>*,
li {
    padding: 7px;
    opacity: .7;
}
.category>*:not(li){
    width: 230px;
}
.slide {
    list-style: none;

}

.sub-category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: all .5s;
}

.navLink {
    position: relative;
    bottom: 5px;
    right: 10px;
}

.category-link {
    cursor: pointer;
    border-radius: 10px;
    transition: all .5s;
    margin: 5px;
}

.subcategory-link {
    transition: all .5s;
    border-radius: 5px;
    margin: 2px 0;
}

.category-link:hover,
.subcategory-link:hover {
    opacity: 1;
    background-color: var(--nave-hover-color); 
}



.dissactive {
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s ease-out;
}

.active {
    max-height: 1000px;
    transition: max-height .3s ease-in;
}

.hide {
    width: 0 !important;
    padding: 0 !important;
    box-shadow: 0 0 0;
}

.select {
    background-color: var(--nave-hover-color); 
}

.underline {
    border-bottom: 1px solid rgba(153, 153, 153, 0.448);
    display: block;
    width: 100%;
    padding: 0;
}

.arrow {
    transition: transform 0.5s;
}

.rotate180 {
    transform: rotate(180deg);
}

